.players_area {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 0;
}

.player_area {
    width: 50%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.dice_throwing_area {
    display: flex;
    position: absolute;
    flex-direction: column;
    place-items: CENTER;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}